.likes-ratings-container {
    margin: 1rem 0;
    white-space: nowrap;
}
.likes-ratings-container .like {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    transition: all .15s ease;
    color: #fff;
    cursor: pointer;
}
.likes-ratings-container .like:active {
    transform: scale(1.25);
}

.likes-ratings-container .like span {
    vertical-align: middle;
    opacity: 0.8;
}

.likes-ratings-container .like svg {
    width: 20px;
    vertical-align: middle;
}

.likes-ratings-container .like-up {
    background-color: #26AE60;
    border-radius: 3px 0 0 3px;
}

.likes-ratings-container .like-down {
    background-color: #C03A2B;
    margin-left: -3px;
    border-radius: 0 3px 3px 0;
}


